<div>
POST   /api/sign_in(.:format)
</br>
GET    /api/sign_out(.:format)
</br>
POST   /api/v1/sign_up(.:format)
</br>
POST   /api/v1/users/:user_id/top_up(.:format)
</br>
GET    /api/v1/users(.:format)
</br>
POST   /api/v1/users(.:format)
</br>
GET    /api/v1/users/new(.:format)
</br>
GET    /api/v1/users/:id/edit(.:format)
</br>
GET    /api/v1/users/:id(.:format)
</br>
PATCH  /api/v1/users/:id(.:format)
</br>
PUT    /api/v1/users/:id(.:format)
</br>
DELETE /api/v1/users/:id(.:format)
</br>
GET    /api/v1/orders/:order_id/get_reciept(.:format)
</br>
GET    /api/v1/orders(.:format)
</br>
POST   /api/v1/orders(.:format)
</br>
GET    /api/v1/orders/new(.:format)
</br>
GET    /api/v1/orders/:id/edit(.:format)
</br>
GET    /api/v1/orders/:id(.:format)
</br>
PATCH  /api/v1/orders/:id(.:format)
</br>
PUT    /api/v1/orders/:id(.:format)
</br>
DELETE /api/v1/orders/:id(.:format)
</br>
GET    /api/v1/admin/items(.:format)
</br>
POST   /api/v1/admin/items(.:format)
</br>
GET    /api/v1/admin/items/new(.:format)
</br>
GET    /api/v1/admin/items/:id/edit(.:format)
</br>
GET    /api/v1/admin/items/:id(.:format)
</br>
PATCH  /api/v1/admin/items/:id(.:format)
</br>
PUT    /api/v1/admin/items/:id(.:format)
</br>
DELETE /api/v1/admin/items/:id(.:format)
</div>